@model List<MVC_Frontend.Models.Coin>

<!DOCTYPE html>

<html>
<head>
    <title>return</title>
</head>
<body>
<div>
    <p>Scraping...</p>
    <h1>
        @Model.Count
    </h1>
    
    <p></p>
    <div>
        @Model.ToString()
    </div>
</div>
</body>
</html>