@using MVC_Frontend.Models
@model List<MarketSnapshot>
<style>
    th {
        text-align: center
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <title>All Snapshots</title>
</head>
<body>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr><th colspan="2">Snapshots List</th></tr>
            <tr>
                <td>Shapshot ID</td>
                <td>Shapshot DateTime</td>
            </tr>
            </thead>
            <tbody>
            @foreach (MarketSnapshot marketSnapshot in Model)
            {
                <tr href="/MarketSnapshot/@marketSnapshot.SnapId">
                    <td>@marketSnapshot.SnapId</td>
                    <td>@marketSnapshot.SnapTime</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</body>
</html>